# dependencies
node_modules/

# next.js
.next/
out/

# gatsby
.cache/

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

tsconfig.tsbuildinfo
