@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark scrollbar */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

* {
  scrollbar-width: thin;
  scrollbar-color:rgb(212, 212, 216) transparent;
}