@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark scrollbar */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

* {
  scrollbar-width: thin;
  scrollbar-color:rgb(212, 212, 216) transparent;
}

.scrollbar-dark {
  scrollbar-color: #404040 transparent;
}

@font-face {
  font-family: 'Berthold Akzidenz Grotesk BE';
  src: url('/fonts/akzidenz-grotesk-be-bold-condensed-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
